<<<<<<< HEAD
<<<<<<< HEAD
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<li><a href="/ironhackers/matthias">Matthias Website</a></li>
=======
=======
<h1>ironhack website</h1>

<ul>
  <li><a href="/ironhackers/nele">Nele</a></li>
=======

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


>>>>>>> 970e6abb2e4489a4495153a089086d8c14464acf
<h1>Ironhack website</h1>

<ul>
  <li><a href="/ironhackers/maxence">Maxence</a></li>
<<<<<<< HEAD
</ul>
>>>>>>> 46a86bd6a667b08992ed50649a7e957eb152336e
=======
>>>>>>> 970e6abb2e4489a4495153a089086d8c14464acf

  <li><a href="/ironhack/ziggy">Ziggy</a></li>

  <li><a href="/ironhackers/carlos">Carlos</a></li>
  <li><a href="/ironhackers/feli">Feli</a></li>



  <li><a href="/ironhackers/feli">Feli</a></li>
>>>>>>> 953a012ae0db7ae3a7ca487cf5829fc12ed822af
</ul>
