<<<<<<< HEAD <h1>{{title}}</h1>
  <p>Welcome on Anthony & Maxences's page</p>
  =======
  <h1>Ironhack website</h1>

  <ul>
    <li><a href="/ironhackers/maxence">Maxence</a></li>
    <li><a href="/ironhackers/feli">Feli</a></li>
    <li><a href="/ironhackers/anna">Anna</a></li>
  </ul>
  >>>>>>> b162a594975449aa470b6e154f6f1bfe81f3c28a