<<<<<<< HEAD
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<li><a href="/ironhackers/matthias">Matthias Website</a></li>
=======
<h1>Ironhack website</h1>

<ul>
  <li><a href="/ironhackers/maxence">Maxence</a></li>
</ul>
>>>>>>> 46a86bd6a667b08992ed50649a7e957eb152336e

