<<<<<<< HEAD
<h1>{{title}}</h1>
<p>Welcome on Anthony & Maxences's page</p>

<h1>Ironhack website</h1>


<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<h1>Ironhack website</h1>
=======
<h1>ironhack website</h1>
>>>>>>> 7d95c72f23be249d8af8b2ab6db85353f17ea9af

<ul>
  <li><a href="/ironhackers/nele">Nele</a></li>
  <li><a href="/ironhackers/maxence">Maxence</a></li>
<<<<<<< HEAD
  <li><a href="/ironhackers/feli">Feli</a></li>
  <li><a href="/ironhackers/anna">Anna</a></li>
</ul>

<ul>
  <li><a href="/ironhackers/maxence">Maxence</a></li>

=======
  <li><a href="/ironhackers/axel">Axel</a></li>
>>>>>>> 7d95c72f23be249d8af8b2ab6db85353f17ea9af
  <li><a href="/ironhack/ziggy">Ziggy</a></li>
  <li><a href="/ironhackers/carlos">Carlos</a></li>
  <li><a href="/ironhackers/feli">Feli</a></li>
<<<<<<< HEAD



  <li><a href="/ironhackers/feli">Feli</a></li>
</ul>
=======
</ul>
>>>>>>> 7d95c72f23be249d8af8b2ab6db85353f17ea9af
