
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<h1>Ironhack website</h1>

<ul>
  <li><a href="/ironhackers/maxence">Maxence</a></li>
<<<<<<< HEAD
  <li><a href="/ironhackers/axel">Axel</a></li>

</ul>
=======
>>>>>>> 953a012ae0db7ae3a7ca487cf5829fc12ed822af

  <li><a href="/ironhack/ziggy">Ziggy</a></li>

  <li><a href="/ironhackers/carlos">Carlos</a></li>
  <li><a href="/ironhackers/feli">Feli</a></li>



  <li><a href="/ironhackers/feli">Feli</a></li>
</ul>
