<<<<<<< HEAD <h1>{{title}}</h1>
  <p>Welcome on Anthony & Maxences's page</p>
  =======
  <h1>Ironhack website</h1>

<<<<<<< HEAD
  <ul>
    <li><a href="/ironhackers/maxence">Maxence</a></li>
    <li><a href="/ironhackers/feli">Feli</a></li>
    <li><a href="/ironhackers/anna">Anna</a></li>
  </ul>
  >>>>>>> b162a594975449aa470b6e154f6f1bfe81f3c28a
=======
<ul>
  <li><a href="/ironhackers/maxence">Maxence</a></li>
  <li><a href="/ironhack/ziggy">Ziggy</a></li>
  <li><a href="/ironhackers/feli">Feli</a></li>
</ul>
>>>>>>> 882ef1b9a1616bed4446c37c68289da478075648
