<h2>Samanta's page</h2>
<iframe src="https://giphy.com/embed/AmCBGZ9jlresE" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cat-adorable-pallas-AmCBGZ9jlresE">via GIPHY</a></p>